<%- include('partials/_header') %>
<!--<pre>
    <%= producto %>
</pre>
-->
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-body">
                    <form class="" action="/edit/<%= producto._id %>" method="post">
                        <h3>Editar producto</h3>
                        <div class="form-group py-2">
                            <input type="text" name="nombre" value="<%= producto.nombre%>" placeholder="Motorola X" class="form-control">
                        </div>
                        <div class="form-group py-2">
                            <textarea name="description" cols="80" class="form-control" placeholder="Celular Motorola X, Memoria 1TB..."><%= producto.description %></textarea>
                        </div>
                        <div class="form-group py-2">
                            <input type="text" name="precio" value="<%= producto.precio%>" placeholder="S/. 1220" class="form-control">
                        </div>
                        <div class="form-group py-2">
                            <input type="text" name="stock" value="<%= producto.stock%>"placeholder="8" class="form-control">
                        </div>
                        <div class="form-group py-2">
                            <input type="text" name="estado" value="<%= producto.estado%>" placeholder="Disponible" class="form-control">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-block" style="width:320px;">Actualizar</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
<%- include('partials/_footer') %>
