<%- include('partials/_header') %>
    <div class="container">
        <div class="row">
            <!-- Formulario -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form class="" action="/add" method="post">
                            <h4>Nuevo Producto</h4>
                            <div class="form-group py-2">
                                <input type="text" name="nombre" placeholder="Motorola X" class="form-control">
                            </div>
                            <div class="form-group py-2">
                                <textarea name="description" cols="80" class="form-control" placeholder="Celular Motorola X, Memoria 1TB..."></textarea>
                            </div>
                            <div class="form-group py-2">
                                <input type="text" name="precio" placeholder="S/. 1220" class="form-control">
                            </div>
                            <div class="form-group py-2">
                                <input type="text" name="stock" placeholder="8" class="form-control">
                            </div>
                            <div class="form-group py-2">
                                <input type="text" name="estado" placeholder="Disponible" class="form-control">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary btn-block" style="width:300px;">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- LIST -->
            <div class="col-md-8">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<productos.length; i++) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= productos[i].nombre %></td>
                                <td><%= productos[i].description %></td>
                                <td><%= productos[i].precio %></td>
                                <td><%= productos[i].stock %></td>
                                <td><%= productos[i].estado %></td>
                                <td>
                                <a href="/show/<%= productos[i]._id %>" class="btn btn-info"><i class="far fa-eye text-white"></i></a>
                                <a href="/delete/<%= productos[i]._id %>" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                <a href="/edit/<%= productos[i]._id %>" class="btn btn-warning"><i class="far fa-edit text-white"></i></a>
                                </td>
                            </tr>
                        <% }%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include('partials/_footer') %>
