<%- include('partials/_header') %>
<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" style="background: #adb5bd;">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="https://concepto.de/wp-content/uploads/2014/08/tecnologia-e1551386726435.jpg" class="d-block w-75 mx-auto" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://www.kienyke.com/sites/default/files/styles/amp_1200x675_16_9/public/wp-content/uploads/2019/12/TECNOLOGIA.jpg?itok=jnmPdARM" class="d-block w-75 mx-auto" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://caretas.pe/wp-content/uploads/2020/11/Procomer.jpg" class="d-block w-75 mx-auto" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://ep01.epimg.net/internacional/imagenes/2018/04/12/actualidad/1523488030_703430_1523489185_noticia_normal.jpg" class="d-block w-75 mx-auto" alt="...">
              </div>
            </div>
        </div>
            <div class="container">
                <section>
                      <h1 class="text-info text-center py-5" style="margin-bottom:0% !important;">Servicios</h1>
                      <hr class="hr" style="width: 200px; height: 2px; background-color: rgb(119, 119, 230);">
                      <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/67546676/original/847cde4fbf20c8fd1f00398b808e6306428895e2/website-design-online-store-logo-design-ecommerce-website.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title" style="font-weight: bold; color:#353232fb;">DWS DISEÑO WEB STORE</h5>
                              <p class="card-text" style="color:#928f8ffb;">Orientada a brindar servicios digitales a PYMES.</p>
                            </div>
                            <div class="card-footer"><a href="#">Visitar Web</a></div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://image.freepik.com/vector-gratis/personajes-personas-iconos-redes-sociales_53876-43012.jpg" class="card-img-top" width="20px">
                            <div class="card-body">
                              <h5 class="card-title" style="font-weight: bold; color:#353232fb;">GCOMUNICA</h5>
                              <p class="card-text" style="color:#928f8ffb;">Solución Móvil para empresas que buscan mejorar la comunicación con su trabajadores.</p>
                            </div>
                            <div class="card-footer"><a href="#">Visitar Web</a></div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/67546676/original/847cde4fbf20c8fd1f00398b808e6306428895e2/website-design-online-store-logo-design-ecommerce-website.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title" style="font-weight: bold; color:#353232fb;">DWS DISEÑO WEB STORE</h5>
                              <p class="card-text" style="color:#928f8ffb;">Orientada a brindar servicios digitales a PYMES.</p>
                            </div>
                            <div class="card-footer"><a href="#">Visitar Web</a></div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="http://www.cloud-consulting.asia/wp-content/uploads/2015/07/cloud-logo.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title" style="font-weight: bold; color:#353232fb; margin-bottom: 50px;">CLOUD CONSULTING</h5>
                              <p class="card-text py-6" style="color:#928f8ffb;">Orientada a brindar servicios y soluciones tecnológicas en la nube.</p>
                            </div>
                            <div class="card-footer"><a href="#">Visitar Web</a></div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://image.freepik.com/vector-gratis/personajes-personas-iconos-redes-sociales_53876-43012.jpg" class="card-img-top" width="20px">
                            <div class="card-body">
                              <h5 class="card-title" style="font-weight: bold; color:#353232fb;">GCOMUNICA</h5>
                              <p class="card-text" style="color:#928f8ffb;">Solución Móvil para empresas que buscan mejorar la comunicación con su trabajadores.</p>
                            </div>
                            <div class="card-footer"><a href="#">Visitar Web</a></div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/67546676/original/847cde4fbf20c8fd1f00398b808e6306428895e2/website-design-online-store-logo-design-ecommerce-website.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title" style="font-weight: bold; color:#353232fb;">DWS DISEÑO WEB STORE</h5>
                              <p class="card-text" style="color:#928f8ffb;">Orientada a brindar servicios digitales a PYMES.</p>
                            </div>
                            <div class="card-footer"><a href="#">Visitar Web</a></div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/67546676/original/847cde4fbf20c8fd1f00398b808e6306428895e2/website-design-online-store-logo-design-ecommerce-website.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title" style="font-weight: bold; color:#353232fb;">DWS DISEÑO WEB STORE</h5>
                              <p class="card-text" style="color:#928f8ffb;">Orientada a brindar servicios digitales a PYMES.</p>
                            </div>
                            <div class="card-footer"><a href="#">Visitar Web</a></div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="http://www.cloud-consulting.asia/wp-content/uploads/2015/07/cloud-logo.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title" style="font-weight: bold; color:#353232fb; margin-bottom: 50px;">CLOUD CONSULTING</h5>
                              <p class="card-text py-6" style="color:#928f8ffb;">Orientada a brindar servicios y soluciones tecnológicas en la nube.</p>
                            </div>
                            <div class="card-footer"><a href="#">Visitar Web</a></div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://image.freepik.com/vector-gratis/personajes-personas-iconos-redes-sociales_53876-43012.jpg" class="card-img-top" width="20px">
                            <div class="card-body">
                              <h5 class="card-title" style="font-weight: bold; color:#353232fb;">GCOMUNICA</h5>
                              <p class="card-text" style="color:#928f8ffb;">Solución Móvil para empresas que buscan mejorar la comunicación con su trabajadores.</p>
                            </div>
                            <div class="card-footer"><a href="#">Visitar Web</a></div>
                          </div>
                        </div>
                      </div>
                </section>
            <section class="py-4">
                <h1 class="text-info text-center py-5">Nuestros Clientes</h1>
                <div class="d-flex justify-content-around flex-wrap">
                      <div class="card m-4" style="width: 18rem;">
                          <img src="https://static.vecteezy.com/system/resources/previews/000/223/093/non_2x/223093.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card m-4" style="width: 18rem;">
                        <img src="https://www.brandcrowd.com/gallery/brands/pictures/picture15243046515684.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card m-4" style="width: 18rem;">
                        <img src="https://www.designevo.com/res/templates/thumb_small/abstract-information-line.png" class="card-img-top" alt="...">
                      </div>
                      <div class="card m-4" style="width: 18rem;">
                        <img src="https://www.designevo.com/res/templates/thumb_small/abstract-information-line.png" class="card-img-top" alt="...">
                      </div>
                      <div class="card m-4" style="width: 18rem;">
                        <img src="https://solucionesenmov.com/images/logo-soltec.jpg" class="card-img-top" alt="..." style="text-align: center; margin-top: 60px;">
                      </div>
                      <div class="card m-4" style="width: 18rem;">
                        <img src="https://image.freepik.com/vector-gratis/logo-empresa-diseno-tecnologico_1465-3.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
            </section>
    </div>
    <section class='py-5' style="color:#928f8ffb;">
      <hr>
           <p class="text-center"> <label> <i class="fas fa-phone fa-rotate-90 text-primary"></i> </label> 800-601-0230</p>

                  <p class="text-center"> <small class="follow-text">Carrera Diaz Katherine</small> <label class="footer-right"> <i class="fab fa-instagram"></i> <i class="fab fa-facebook-square"></i> <i class="fab fa-linkedin"></i> <i class="fab fa-twitter-square"></i> </label> </p>

    </section>
<%- include('partials/_footer') %>
