<%- include('partials/_header') %>
<!--<pre>
    <%= producto %>
</pre>
-->
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h3>Producto Detalle</h3>
                        <div class="form-group py-2">
                            <input type="text" name="nombre" value="<%= producto.nombre%>" placeholder="Motorola X" class="form-control" disabled>
                        </div>
                        <div class="form-group py-2">
                            <textarea name="description" cols="80" class="form-control" placeholder="Celular Motorola X, Memoria 1TB..." disabled><%= producto.description %></textarea>
                        </div>
                        <div class="form-group py-2">
                            <input type="text" name="precio" value="<%= producto.precio%>" placeholder="S/. 1220" class="form-control" disabled>
                        </div>
                        <div class="form-group py-2">
                            <input type="text" name="stock" value="<%= producto.stock%>"placeholder="8" class="form-control" disabled>
                        </div>
                        <div class="form-group py-2">
                            <input type="text" name="estado" value="<%= producto.estado%>" placeholder="Disponible" class="form-control" disabled>
                        </div>
                </div>
                </div>
            </div>

        </div>
    </div>
<%- include('partials/_footer') %>
